.page-header {
    background-color: #367507;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}


.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}


.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}